.ct-chart {
  margin-top: 2em;
}

.ct-label,
.ct-axis-title {
    font: #{$smallerTextSize}/#{$lineHeight} $code;
}

.ct-label {
    color: $darkerGrey;
}

.ct-axis-title {
    fill: $textColor;
    font-weight: bold;
}

$graphColors: (
		("a", $lightBlue),
		("b", $green),
		("c", $yellow),
		("d", $orange),
    ("e", $red),
    ("f", $purple),
    ("g", $grey),
    ("h", $darkGrey),
    ("i", $darkerGrey)
	);

	@each $letter, $color in $graphColors {
    .ct-series-#{$letter} .ct-line,
    .ct-series-#{$letter} .ct-point,
    .ct-series-#{$letter} .ct-bar {
      stroke: $color;
    }

    .ct-series-#{$letter} .ct-slice-donut,
    .ct-series-#{$letter} .ct-slice-donut-solid,
    .ct-series-#{$letter} .ct-slice-pie {
      fill: $color;
    }

    .ct-series-#{$letter} .ct-area {
      fill: lighten($color, 15%);
    }
	}


