@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: local('Open Sans Regular'),
	     url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: local('Open Sans Italic'),
	     url('../fonts/opensans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: local('Open Sans Bold'),
	     url('../fonts/opensans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: local('Open Sans Bold Italic'),
	     url('../fonts/opensans/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: "Arvo";
	font-display: auto;
	src: url("../fonts/arvo/Arvo-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Arvo";
	font-display: auto;
	src: url("../fonts/arvo/Arvo-Italic.ttf") format("truetype");
	font-style: italic;
}

@font-face {
	font-family: "Arvo";
	font-display: auto;
	src: url("../fonts/arvo/Arvo-BoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
}

@font-face {
  font-family: 'Hack';
	font-display: auto;
  src: 	url('../fonts/hack/hack-regular.woff2?sha=3114f1256') format('woff2'),
	 			url('../fonts/hack/hack-regular.ttf?sha=3114f1256') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
	font-display: auto;
  src: 	url('../fonts/hack/hack-bold.woff2?sha=3114f1256') format('woff2'),
				url('../fonts/hack/hack-bold.ttf?sha=3114f1256') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
	font-display: auto;
  src: 	url('../fonts/hack/hack-italic.woff2?sha=3114f1256') format('woff2'),
				url('../fonts/hack/hack-italic.ttf?sha=3114f1256') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
	font-display: auto;
  src: 	url('../fonts/hack/hack-bolditalic.woff2?sha=3114f1256') format('woff2'),
				url('../fonts/hack/hack-bolditalic.ttf?sha=3114f1256') format('ttf');
  font-weight: 700;
  font-style: italic;
}
