@font-face {
	font-family: "Arvo";
	font-display: auto;
	src: url("../fonts/arvo/Arvo-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Arvo";
	font-display: auto;
	src: url("../fonts/arvo/Arvo-Italic.ttf") format("truetype");
	font-style: italic;
}

@font-face {
	font-family: "Arvo";
	font-display: auto;
	src: url("../fonts/arvo/Arvo-BoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
}