/**
 * FOOTER
 */

nav#mainNavigation ul li a,
nav#mainNavigation ul li a:visited,
aside#sideNavigation ul li a,
aside#sideNavigation ul li a:visited
#copyright,
footer {
	color: $textColor;
}

footer h2 i,
#copyright,
i.searchIcon {
	text-align: center;
}

i.searchIcon,
footer h2 i {
	margin-right: $iconSpacer;
	width: $iconSpacer * 7;
	color: $darkGrey;
}

footer {
	font-size: 0.9em;
	background-color: $grey;
	border-top: #{$headerSpacer * 0.1} solid $darkGrey;
	padding: $footerInnerSpacing * 2 0;
	margin-top: #{$headerSpacer};

	h2 {
		color: $darkerGrey;
		margin: 0 0 $footerInnerSpacing * 0.5 0;

		i {
			font-size: $smallerTextSize;
		}
	}

	div {
		width: $footerWidth;
		margin: 0 auto;

		form,
		nav,
		aside {
			display: inline-block;
			width: calc(30% - #{$footerInnerSpacing * 2});
			padding: 0 $footerInnerSpacing;
		}
	}

	nav#mainNavigation,
	aside#sideNavigation {
		vertical-align: top;

		ul {
			list-style-type: none;
			@include setMultiProperty(margin padding, 0);

			li {
				margin-left: 7 * $iconSpacer;

				a,
				a:visited {
					margin: {
						@include setMultiProperty(top bottom, $iconSpacer);
					}
					padding: $iconSpacer * 1.5;
					border-radius: $borderRadius;

					&:hover {
						text-decoration: underline;
						color: $lightBlue;
					}
				}
			}
		}
	}
}

input.searchInput {
	width: calc(100% - #{$iconSpacer * 8});
	padding-bottom: $borderRadius;
	-webkit-appearance: none;
	border: {
		width: 0;
		radius: 0;
		bottom: #{$headerSpacer * 0.08} solid $darkGrey;
	}
	font: {
		family: $heading;
		size: 1.5em;
		weight: bold;
	}
	background-color: $grey;

	&,
	&::placeholder {
		color: $darkerGrey;
	}
}

#copyright {
	font: {
		size: $smallerTextSize;
		family: $code;
	}
	background-color: $lightBlue;
	color: #FFF;

	p {
		margin: 0;
		padding: $footerInnerSpacing;
	}
}