@media only screen and (max-width: 420px) {
	html {
		line-height: 1.7em;
	}

	header {
		line-height: 1em;

		h1 {
			margin: $headerSpacer * 0.2 0 0;
			font-size: 3em;
			line-height: $headerSpacer * 1.5;
		}
	}

	#siteDescription {
		margin-bottom: $headerSpacer * 0.2;
	}

	main {
		padding: 0;
		margin-top: calc(	#{$headerSpacer} * 0.2 * 2 + /* margin */
									#{$headerSpacer} * 1.75 + /* Title */
									#{$headerSpacer} + /* description */
									#{$headerSpacer} * 0.5 + /* space to main */
									#{$headerSpacer} * 0.1 ) /* border */;

		hr {
			margin: calc(1rem + 0.5rem + 0.3rem) auto;
		}
	}

	article {
		max-width: 90%;
		margin: 0 auto;
	}

	div#articleMeta:before {
		margin: calc(1rem + 0.5rem + 0.3rem) auto;
	}

	div#articleMeta {
		margin: 0;

		h4 {
			font-size: 1.1rem;
		}
	}

	article h2 {
		& a,
		& a:visited {
				font-size: 2rem;
		}
	}

	article h2:first-of-type {
		margin-bottom: 0.83em; // Standard Browser margin-bottom for <h1>

		&:after {
			display: none;
		}
	}

	span {
		&.metaSeparator {
			display: none;
		}

		&.meta {
			display: block;
		}
	}

	footer {
		padding: $footerInnerSpacing * 0.5 0;

		h2 {
			font-size: 1.1rem;
		}

		div {
			width: 100%;

			form,
			nav#mainNavigation,
			aside#socialMediaProfiles {
				padding: $footerInnerSpacing * 0.5 $footerInnerSpacing;
			}

			nav#mainNavigation,
			aside#socialMediaProfiles {
				width: calc(50% - #{$footerInnerSpacing * 2});
				
				ul {
					font-size: 0.9em;
					white-space: nowrap;
				}
			}

			form {
				display: block;
				width: calc(100% - #{$footerInnerSpacing * 2});
			}
		}
	}

	input.searchInput {
		width: calc(100% - #{$iconSpacer * 8});
		font-size: 1.1rem;
	}

	nav {
		ul {
			&#pages {
				margin: calc(1rem + 0.5rem + 0.3rem) auto;
			}
		}
	}
}

@media only screen and (max-width: 350px) {
	body {
		font: #{$fontSize*0.85}/#{$lineHeight} $sans;
	}

	input.searchInput {
		font-size: 1rem;
		text-align: center;
	}

	footer {
		text-align: center;

		div {
			nav#mainNavigation,
			aside#socialMediaProfiles {
				width: calc(100% - #{$footerInnerSpacing * 2});
			}
		}
	}
}
