<footer>
    <nav id="mainNavigation">
        {{ with $.Site.Params.sciolism.mainMenuString -}}<h2>{{ . | safeHTML }}</h2>{{ end }}
        <ul>
    {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
            <li class="menu">
                <a>
                    <span>{{ .Name }}</span>
                </a>
            </li>
            <ul class="subMenu">
                {{ range .Children }}
                    <li class="">
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
        {{ else }}
            <li class="menu">
                <a href="{{ .URL }}">
                    <span>{{ .Name }}</span>
                </a>
            </li>
        {{ end }}
    {{ end }}
        </ul>
    </nav>
    <aside id="sideNavigation">
        {{ with $.Site.Params.sciolism.asideMenuString -}}<h2>{{ . | safeHTML }}</h2>{{ end }}
        <ul>
            {{ range .Site.Menus.aside }}
            {{ if .HasChildren }}
            <li>
                <a>
                    <span>{{ .Name }}</span>
                </a>
            </li>
            <li>
                <ul class="subMenu">
                    {{ range .Children }}
                    <li>
                        <a href="{{ .URL }}" {{ with .Post }}{{- . | safeHTMLAttr -}}{{- end -}}>{{ .Pre }} {{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ else }}
            <li>
                <a href="{{ .URL }}" {{ with .Post }}{{- . | safeHTMLAttr -}}{{- end -}}>
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </aside>
    {{- if $.Site.Params.sciolism.search -}}
    <form method="get" action="/search/" role="search">
        <h2 class="screenReaderText">{{ i18n "search" }}</h2>
        <label for="bottomSearchBox" class="screenReaderText" aria-label="Search">{{ i18n "search" }}</label>
        <i class="fas fa-search searchIcon"></i><input type="search" name="q" id="bottomSearchBox" placeholder="{{ i18n "search" }}"
            class="searchInput" />
    </form>
    {{- end -}}
</footer>
<div id="copyright">
    <p>{{ i18n "theme_copyright" | safeHTML }}{{ with .Site.Copyright }} {{ . }}{{ end }}</p>
</div>
{{- range $template := .Site.Params.sciolism.footerPartials -}}
    {{ partial $template . }}
{{- end -}}