{{- $themeCSS := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "sass/main.scss" . | toCSS (dict "targetPath" "css/screen.css" "outputStyle" "compressed") | minify | fingerprint -}}
{{- $theme := resources.Get "js/sciolism.theme.js" | resources.Minify -}}
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="canonical" href="{{ .Permalink }}" />

	<title>{{- .Site.Title -}} {{ if .Content }} | {{ .Title }}{{ end }}</title>
	{{ if .Description }}
		<meta name="description" content="{{ .Description | plainify }}" />
	{{ end }}
  {{ if and (.Site.Params.enigma.siteDescription) (.IsHome) }}
    <meta name="description" content="{{ .Site.Params.enigma.siteDescription | plainify }}" />
  {{ end }}

	{{- if .Site.Params.enigma.openGraph -}}
		{{ partial "opengraph.html" . }}
	{{- end -}}

	<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
	{{- range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{- end -}}

	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	{{- if .Site.Params.enigma.favIcons -}}
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" href="/icon-180x180.png" />
		<link rel="apple-touch-icon" href="/icon-180x180.png" />
		<meta name="msapplication-TileColor" content="#000000" />
		<meta name="msapplication-TileImage" content="/icon-180x180.png" />
	{{- end -}}

	<link rel="stylesheet" href="{{ $themeCSS.RelPermalink }}" integrity="{{ $themeCSS.Data.Integrity }}" media="screen" />
	<link rel="stylesheet" href="{{ "css/fontawesome.min.css" | relURL }}" media="screen" />
	{{- if .Site.Params.enigma.logo -}}
		<style type="text/css">
			.withLogo {
				background: transparent url('{{ .Site.Params.enigma.logoPath | relURL }}') no-repeat center center;
			}
		</style>
	{{ end }}

	<script src="{{ $theme.Permalink }}"></script>
</head>
